@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-content: center;
  justify-content: center;
}

#background-img {
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.container {
  background-color: rgba(60, 60, 60, 0.8);
  color: white;
  padding: 5rem;
  margin: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 20px gray;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: black;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  z-index: 2;
}

.modal {
  position: fixed;
  display: grid;
  align-self: center;
  justify-self: center;
  margin: 2rem;
  height: 90vh;
  width: 95vw;
  background-color: white;
  transform: scale(0);
  transition: all 0.2s;
  overflow: auto;
}

#btn-back {
  border-radius: 200px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 2.5rem;
  cursor: pointer;
  border: none;
  text-align: center;
  background-color: black;
  box-shadow: 0 0 20px black;
  z-index: 3;
  transform: scale(1);
  transition: all 0.5s;
  visibility: hidden;
  box-shadow: 0 0 0 black;
  opacity: 0;
}
#btn-back:hover {
  transform: scale(1.5);
  box-shadow: 0 0 100px black;
}
#btn-back:active {
  transform: scale(0.9);
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.card {
  font-family: "Merriweather", serif;
  padding: 1rem;
  border-radius: 20px;
  height: 15rem;
  display: grid;
  align-items: center;
  justify-items: stretch;
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.2s;
  overflow: hidden;
  box-shadow: 0 0 10px black;
}
.card__background {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(30%) blur(1px);
  transform: scale(3);
  transition: all 0.2s;
}
.card__background:hover {
  transform: scale(1);
}
.card__title {
  z-index: 1;
  pointer-events: none;
  text-shadow: 0 0 20px black;
}
.card:hover {
  transform: scale(1.5);
}

#buy-subscription-section .card__background {
  background-image: url("../img/buy-subscription-section/background-card.png");
}

.buy-subscription-section {
  font-family: "Nunito", sans-serif;
  display: grid;
  gap: 1rem;
  justify-items: center;
  align-content: center;
  text-align: center;
  padding: 4rem;
  color: #202240;
  background-color: #f3f3f7;
  border-radius: 20px;
  box-shadow: 0 0 40px #9494a3;
}
.buy-subscription-section__title {
  font-size: 2rem;
  font-weight: bold;
}
.buy-subscription-section__subtitle {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.buy-subscription-section__plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f3f3f7;
  gap: 3rem;
}
.buy-subscription-section__plan {
  background-color: #fff;
  border-radius: 20px;
  padding: 2rem;
  text-align: left;
  display: grid;
  gap: 0.5rem;
  font-size: 0.75rem;
}
.buy-subscription-section__plan:nth-child(1) {
  box-shadow: -20px -20px 0 rgba(255, 255, 0, 0.2);
}
.buy-subscription-section__plan:nth-child(2) {
  box-shadow: -20px -20px 0 rgba(212, 152, 244, 0.1019607843);
}
.buy-subscription-section__plan:nth-child(3) {
  box-shadow: -20px -20px 0 rgba(103, 103, 255, 0.3019607843);
}
.buy-subscription-section__plan__icon img {
  height: 2.5rem;
  width: 2.5rem;
}
.buy-subscription-section__plan__title {
  font-weight: bold;
}
.buy-subscription-section__plan__subtitle {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}
.buy-subscription-section__plan__price {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 1.5rem;
  font-size: 0.75rem;
}
.buy-subscription-section__plan__price span {
  font-size: 1.2rem;
  font-weight: 900;
}
.buy-subscription-section__plan__btn {
  background-color: #f3f3f7;
}
.buy-subscription-section__btn, .buy-subscription-section__plan__btn {
  border-radius: 200px;
  justify-self: center;
  padding: 0.7rem 1.5rem;
  font-weight: bold;
  font-size: 0.7rem;
  cursor: pointer;
  align-self: center;
  border: none;
  transition: all 0.2s;
}
.buy-subscription-section__btn:hover, .buy-subscription-section__plan__btn:hover {
  transform: scale(1.1);
}
.buy-subscription-section__btn:active, .buy-subscription-section__plan__btn:active {
  transform: scale(0.9);
}
.buy-subscription-section__btn {
  background-color: #202240;
  color: #fff;
  padding: 1rem 2rem;
}/*# sourceMappingURL=style.css.map */