* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-content: center;
  justify-content: center;
}

.container {
  display: grid;
  background-color: black;
  height: 200px;
  width: 200px;
}
